.panel {
  display: flex;
  position: relative;
  overflow: hidden;
  position: fixed;
  flex-direction: column;
  padding: 20px;
  right: 50px;
  top: 200px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.msg {
  display: flex;
  align-items: center;
  height: 20px;
  justify-content: center;
  color: cornflowerblue;
}
